<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="taskDao" class="ru.otus.spring.hw01.dao.CsvDao">
		<property name="csvPath" value="tasks.csv" />
	</bean>
	
	<bean id="answerTester" class="ru.otus.spring.hw01.service.AnswerTesterImpl"></bean>
	
	<bean id="interviewer" class="ru.otus.spring.hw01.service.InterviewerImpl"></bean>
	

	<bean id="examinator"
		class="ru.otus.spring.hw01.service.ExaminatorImpl">
		<constructor-arg name="taskDao" ref="taskDao" />
		<constructor-arg name="answerTester" ref="answerTester" />
		<constructor-arg name="interviewer" ref="interviewer" />
	</bean>

</beans>
