<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="taskDao" class="ru.otus.spring.hw01.dao.CsvDao">
		<property name="csvPath" value="tasks.csv" />
	</bean>

	<bean id="examinator"
		class="ru.otus.spring.hw01.controller.SimpleExaminator">
		<constructor-arg name="taskDao" ref="taskDao" />
	</bean>
	
	<!-- 
	
	<bean id="testTaskDao" class="ru.otus.spring.hw01.dao.CsvDao">
		<property name="csvPath" value="test-tasks.csv" />
	</bean>
	
	<bean id="csvDaoTest"
		class="ru.otus.spring.hw01.dao.CsvDaoTest">
		<constructor-arg name="taskDao" ref="taskDao" />
	</bean>
	
	 -->

</beans>
